[submodule "mk"]
	path = mk
	url = git@github.com:deepkh/mk.git
[submodule "libjsoncpp"]
	path = libjsoncpp
	url = git@github.com:deepkh/libjsoncpp.git
[submodule "libmosquitto"]
	path = libmosquitto
	url = git@github.com:deepkh/libmosquitto.git
