[submodule "mk"]
	path = mk
	url = https://git.netsync.tv/netsync/mk.git
[submodule "libjsoncpp"]
	path = libjsoncpp
	url = https://git.netsync.tv/netsync/libjsoncpp.git
[submodule "libmosquitto"]
	path = libmosquitto
	url = https://git.netsync.tv/netsync/libmosquitto.git
