[submodule "mk"]
	path = mk
	url = https://github.com/deepkh/mk.git
[submodule "libjsoncpp"]
	path = libjsoncpp
	url = https://github.com/deepkh/libjsoncpp.git
[submodule "libmosquitto"]
	path = libmosquitto
	url = https://github.com/deepkh/libmosquitto.git
